<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="customer_edit_top">
      <h5 class="gray">会員情報編集</h5>
    </div>

    <%= form_with model: current_customer, url: customers_information_path, method: :patch, local: true do |f| %>

    <table class="sign_up_items">
      <colgroup>
        <col width="150">
        <col width="40">
        <col width="190">
        <col width="40">
        <col width="190">
      </colgroup>
      <tr>
        <th>名前</th>
        <th class="sign_up_label"><%= f.label :family_name,"(姓)" %></th>
        <td><%= f.text_field :family_name, autofocus: true, class:"rounded" %></td>
        <th class="sign_up_label"><%= f.label :personal_name,"(名)" %></th>
        <td><%= f.text_field :personal_name, class:"rounded" %></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <th class="sign_up_label"><%= f.label :family_name_kana,"(セイ)" %></th>
        <td><%= f.text_field :family_name_kana, class:"rounded" %></td>
        <th class="sign_up_label"><%= f.label :personal_name_kana,"(メイ)" %></th>
        <td><%= f.text_field :personal_name_kana, class:"rounded" %></td>
      </tr>
      <tr>
        <th colspan="2">郵便番号</th>
        <td colspan="3"><%= f.text_field :post_code, class:"rounded" %></td>
      </tr>
      <tr>
        <th colspan="2">住所</th>
        <td colspan="3"><%= f.text_field :address , class:"sign_up_address rounded" %></td>
      </tr>
        <tr>
        <th colspan="2">電話番号</th>
        <td colspan="3"><%= f.text_field :phone_number, class:"rounded" %></td>
        </tr>
      <tr>
        <th colspan="2">メールアドレス</th>
        <td colspan="3"><%= f.email_field :email, class:"rounded" %></td>
      </tr>
      <tr>
        <th colspan="2"></th>
        <td ><button class="btn btn-success sign_up_button" type="submit">編集内容を保存</button></td>
    <% end %>
        <td></td>
        <td><%= link_to "退会する", customers_unsubscribe_path, class:"btn btn-danger"%></td>
      </tr>
    </table>
  </div>
</div>


