<div class='container'>
  <div class='row'>
    <div class="mx-auto col-10">
    <h4 class="gray">商品詳細</h4>
    <div class='col-md-3'>
      <%= image_tag @item.image, size:"200x200" %>
    </div>
      <div class='col-md-8 offset-md-1'>
       <h6>商品名</h6>
       <%= @item.name %>
        <h6>商品説明</h6>
        <%= @item.introduction %>
        <h6>ジャンル</h6>
        <h6>販売ステータス</h6>
        <% status=@item.is_active %>
          <% if status==true %>
            <%= "販売中" %>
          <% else %>
            <%= "販売停止中" %>
          <% end %>
        <%= link_to "商品編集", edit_admin_item_path %>
      </div>
    </div>
  </div>
</div>