<div class="admin_login_top">
  <h5 class="gray">管理者ログイン</h5>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="login_items">
    <tr>
      <th><%= f.label :email,"メールアドレス" %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"login_item" %></td>
    </tr>
    <tr>
      <th><%= f.label :password,"パスワード" %></th>
      <td><%= f.password_field :password, autocomplete: "current-password", class:"login_item" %></td>
    </tr>
    <tr>
      <th></th>
      <td class="login_button"><button class="btn btn-primary" type="submit">ログイン</button></td>
    </tr>
  </table>

<% end %>

<%= render "admin/shared/links" %>
