<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <div class='home_search'>
        <p class='home_serch_top'>ジャンル検索</p>
        <div class='home_serch_list'>
          <% if @genres != nil %>
            <%= @genres.each do |a_genre| %>
              <p><%= a_genre.name %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='col-md-9'>
      <div class='home_photo'>
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <h3>新着商品</h3>
        <div class='home_items_box'>
          <% if @items != nil %>
            <%= @items.each do |a_item| %>
              <div class='home_items'>
                <%= link_to public_items_show(a_item.id) do %>
                  <%= image_tag "#{a_item.item_image}", size:'200x100' %><br>
                  <%= a_item.name %><br>
                  <%= a_item.price %>(税抜き)
        　     　<% end %>
              </div>
            <% end %>
          <% end %>
        <div class='home_items'>
          <div class='home_items_photo'></div>
          <span>商品名</span><br>
          <span>¥0.000</span>
        </div>
        <div class='home_items'>
          <div class='home_items_photo'></div>
          <span>商品名</span><br>
          <span>¥0.000</span>
        </div>
        <div class='home_items'>
          <div class='home_items_photo'></div>
          <span>商品名</span><br>
          <span>¥0.000</span>
        </div>

      </div>
      <p class='home_to_items'>
        <%= link_to "全ての商品を見る>", items_path %>
      </p>
    </div>
  </div>
</div>
