<div class="container">
  <h2 class="mt-5 ml-5">注文履歴詳細</h2>
  <div class="row mb-5 mt-5">
    <div class="col-7">
      <table class="table">
        <tr>
          <td class="border border-0"><strong>購入者</strong></td>
          <td class="border border-0"><%= @order.name %></td>
        </tr>
        <tr>
          <td class="border border-0"><strong>注文日</strong></td>
          <td class="border border-0"><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <td class="border border-0"><strong>配送先</strong></td>
          <td class="border border-0">
            <%= "〒#{@order.postal_code} #{@order.address}" %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="border border-0"><strong>支払方法</strong></td>
          <td class="border border-0">
            <% if @order.payment_method == "credit_card" %>
              クレジットカード
            <% else %>
              銀行振込
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="border border-0"><strong>注文ステータス</strong></td>
          <td class="border border-0">
            <%= form_with model: @order, url: admin_order_path(@order),method: :patch do |f| %>
              <%#= f.collection_select(:registered, @order.payment_method.all, :id ,:payment_method) %>
              <%= f.submit "更新",class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <table class="table">
        <tr>
          <th class="table-active">商品名</th>
          <th class="table-active">単価（税込）</th>
          <th class="table-active">数量</th>
          <th class="table-active">小計</th>
          <th class="table-active">製作ステータス</th>
          <th class="table-active"></th>
        </tr>
        <%# @orders.each do |order| %>
          <tr>
            <td><%=%></td>
            <td><%=%></td>
            <td><%=%></td>
            <td><%=%></td>
            <td><%=%></td>
            <td><%=%></td>
          </tr>
        <%# end %>
      </table>
    </div>

    <div class="col-3">
      <table>
        <tr>
          <td><strong>商品合計</strong></td>
          <td>円</td>
        </tr>
        <tr>
          <td><strong>送料</strong></td>
          <td>円</td>
        </tr>
        <tr>
          <td><strong>請求金額合計</strong></td>
          <td><strong>円</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>