<div class="admin_top">
  <h5 class="gray">注文履歴一覧</h5>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" width="25%">購入日時</th>
      <th scope="col" width="25%">購入者</th>
      <th scope="col" width="25%">注文個数</th>
      <th scope="col" width="25%">注文ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% if @orders != nil %>
      <%= @orders.each do |a_order|%>
      <tr>
        <td><%= a_order.created_at %></td>
        <td><%= a_order.customer.name %></td>
        <td>
          <% amounts=a_order.order_details.amount %>
          <% i=0 %>
          <%= amounts.each do |un_amount| %>
            <% i=i+un_amount %>
          <% end %>
          <%= i %>
        </td>
        <td><%= a_order.status %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="pager">
  <%= paginate @orders %>
</div>
