<div class="admin_top">
  <h5 class="gray">注文履歴一覧</h5>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" width="25%">購入日時</th>
      <th scope="col" width="25%">購入者</th>
      <th scope="col" width="25%">注文個数</th>
      <th scope="col" width="25%">注文ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% if @orders != nil %>
      <% @orders.each do |a_order|%>
      <tr>
        <td><%= a_order.created_at %></td>
        <td><%= a_order.customer.family_name %>&nbsp;<%= a_order.customer.personal_name %></td>
        <td>
          <% amounts=a_order.order_details.amount %>
          <% i=0 %>
          <%= amounts.each do |un_amount| %>
            <% i=i+un_amount %>
          <% end %>
          <%= i %>
        </td>
        <td>
          <%= a_order.select :status, [[Order.statuses_i18n[:waiting],"waiting"],[Order.statuses_i18n[:paid_up],"paid_up"],[Order.statuses_i18n[:production],"production"],[Order.statuses_i18n[:preparing],"preparing"],[Order.statuses_i18n[:shipped],"shipped"]] %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="pager">
  <%= paginate @orders %>
</div>
