<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12 m-3">
    <span style="background-color:gainsboro">配送先登録 / 一覧</span>
    </div>
  </div>

  <div class ="row">
    <div class="col-md-12 m-3">
    <!--住所登録フォーム-->
    <%= form_with model: @address, url: address_path, method: :post do |f| %>
    <div class="form-group">
      <label for="delivery_post_code">郵便番号(ハイフンなし)</label>
      <%= f.number_field :post_code %>
    </div>
    <div class="form-group">
      <lavbel for="delivery_addresses">住所</lavbel>
      <%= f.text_field :address %>
    </div>
    <div class="form-group">
      <label for="delivery_address_name">宛名</label>
      <%= f.text_field :name %>
      <%= f.submit '新規登録', class: "btn btn-sm btn-success" %>
    </div>
    <% end %>
    </div>
  </div>

<div class ="row">
  <div class="col-md-12 m-3">
<!--住所一覧-->
    <table border="1" cellpadding="10">
      <thead>
        <tr bgcolor="gainsboro">
          <th width="120">郵便番号</th>
          <th width="120">住所</th>
          <th width="120">宛名</th>
          <th width="200">    </th>
        </tr>
      </thead>

      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.post_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td><%= link_to "編集する", edit_address_path(address.id), class: "btn btn-sm btn-success mx-2" %><%= link_to "削除する", address_path(address.id),class: "btn btn-sm btn-danger mx-2",method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>