<div class="sign_up_top">
  <h5>新規登録</h5>
</div>

<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>


  <table class="sign_up_items">
    <tr>
      <th>名前</th>
      <th><%= f.label :family_name,"(姓)" %></th>
      <td><%= f.text_field :family_name %></td>
      <th><%= f.label :personal_name,"(名)" %></th>
      <td><%= f.text_field :personal_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <th><%= f.label :family_name_kana,"(セイ)" %></th>
      <td><%= f.text_field :family_name_kana %></td>
      <th><%= f.label :personal_name_kana,"(メイ)" %></th>
      <td><%= f.text_field :personal_name_kana %></td>
    </tr>
    <tr>
      <th colspan="2">メールアドレス</th>
      <td colspan="3"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th colspan="2">郵便番号(ハイフンなし)</th>
      <td colspan="3"><%= f.text_field :post_code %></td>
    </tr>
    <tr>
      <th colspan="2">住所</th>
      <td colspan="3"><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th colspan="2">電話番号(ハイフンなし)</th>
      <td colspan="3"><%= f.text_field :phone_number %></td>
    </tr>
    <tr>
      <th colspan="2">パスワード(6文字以上)</th>
      <td colspan="3"><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <th colspan="2">パスワード(確認用)</th>
      <td colspan="3"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <th></th>
      <td class="login_button"><button class="btn btn-success" type="submit">新規登録</button></td>
    </tr>
  </table>


<% end %>

<%= render "public/shared/links" %>
