<div class="container mt-5">
  <h5 class="mt-5 ml-5 gray">注文情報確認</h5>
  <div class="row my-5">

    <div class="col-8">
      <table class="table table-active table-bordered">
        <tr>
          <td class="border border-dark">商品名</td>
          <td class="border border-dark">単価(税込)</td>
          <td class="border border-dark">数量</td>
          <td class="border border-dark">小計</td>
        </tr>
        <% @cart_items.each do |cart| %>
          <tr>
            <td class="border border-dark table-light"><%= cart.item.name %></td>
            <td class="border border-dark table-light"><%= ((cart.item.price * 1.1).round(ndigits = 0)).to_s(:delimited) %></td>
            <td class="border border-dark table-light"><%= cart.amount %></td>
            <td class="border border-dark table-light"><%= ((cart.item.price * 1.1 * cart.amount).round(ndigits = 0)).to_s(:delimited) %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-4">
      <table class="table table-active table-bordered">
        <tr>
          <td class="border border-dark">送料</td>
          <td class="border border-dark table-light"><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td class="border border-dark ">商品合計</td>
          <td class="border border-dark table-light"><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="border border-dark">請求金額</td>
          <td class="border border-dark table-light"><%= (@order.total_payment).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="row">
    <div class="col-8">
      <table class="table">
        <tr>
          <td class="border border-0 pr-0"><strong>支払方法</strong></td>
          <td class="border border-0 pl-0">
            <% if @order.payment_method == "credit_card" %>
              <%= Order.payment_methods_i18n[:credit_card] %>
            <% else %>
              <%= Order.payment_methods_i18n[:transfer] %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="border border-0 pr-0"><strong>お届け先</strong></td>
          <td class="border border-0 pl-0">
            <%= "〒#{@order.postal_code} #{@order.address}" %><br>
            <%= @order.name %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto my-5">
      <%= form_with model: @order, url: orders_path, local: true do |f| %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :total_payment %>
        <%= f.hidden_field :shipping_cost %>
        <%= f.hidden_field :status %>
        <%= f.submit "注文を確定する"  , class: "btn btn-lg btn-success" %>
      <% end %>
    </div>
  </div>
</div>