<div class='container px-5 px-sm-0 mt-5'>
  <div class='row'>
    <div class='col-md-2 mr-10'>
      <div class='home_search mr-5'>
        <p class='home_serch_top'>ジャンル検索</p>
        <div class='home_serch_list'>
          <% if @genres != nil %>
            <% @genres.each do |a_genre| %>
              <p><%= a_genre.name %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <div class='col-md-10'>
  <h3 class='font-weight-bold ml-5'>商品一覧</h3>
  <div class='d-flex'>
    <div class='home_items_box flex-wrap ml-5'>
      <% if @items != nil %>
        <% @items.each do |a_item| %>
          <div class='home_items'>
            <%= link_to item_path(a_item.id) do %>
              <%= image_tag a_item.image, class:"home_items_photo" %><br>
              <%= a_item.name %><br>
              <%= a_item.price %>円(税抜き)
              <%= a_item.genre.name %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>

