<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('naganocakelogo.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <div class='header_item'>
                  <%= link_to "マイページ", customers_my_page_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "商品一覧", items_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "カート", cart_items_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"link" %>
                </div>

              <% elsif admin_signed_in? %>
                <div class='header_item'>
                  <%= link_to "商品一覧", admin_items_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "会員一覧", admin_customers_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "注文履歴一覧", admin_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "ジャンル一覧", admin_genres_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"link" %>
                </div>

              <% else %>
                <div class='header_item'>
                  <%= link_to "About", about_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "商品一覧", items_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "新規登録", new_customer_registration_path, class:"link" %>
                </div>
                <div class='header_item'>
                  <%= link_to "ログイン", new_customer_session_path, class:"link" %>
                </div>
              <% end %>
              <div class='header_search'>
                <%= form_tag(customers_search_path, method: :post) do %>
                  <%= text_field_tag :search %>
                  <%= submit_tag 'Search', name: :search_bottun %>
                <% end %>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class='main'>
      <%= yield %>
    </main>
    <footer class='footer'>
    </footer>
  </body>
</html>
