<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class='header'>

      <div class='logo'>
        <%= link_to "LOGOマーク", root_path %>
      </div>
      <% if customer_signed_in? %>
        <h6 class="header_message">ようこそ<%= current_customer.family_name %>さん！</h6>
      <% end %>

      <div class='header_items'>

        <% if customer_signed_in? %>
          <div class='header_item'>
            <%= link_to "マイページ", customers_my_page_path %>
          </div>
          <div class='header_item'>
            <%= link_to "商品一覧", items_path %>
          </div>
          <div class='header_item'>
            <%= link_to "カート", cart_items_path %>
          </div>
          <div class='header_item'>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </div>
        <% elsif admin_signed_in? %>
          <div class='header_item'>
            <%= link_to "商品一覧", admin_items_path %>
          </div>
          <div class='header_item'>
            <%= link_to "会員一覧", admin_customers_path %>
          </div>
          <div class='header_item'>
            <%= link_to "注文履歴一覧", admin_path %>
          </div>
          <div class='header_item'>
            <%= link_to "ジャンル一覧", admin_genres_path %>
          </div>
          <div class='header_item'>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </div>
        <% else %>
          <div class='header_item'>
            <%= link_to "About", about_path %>
          </div>
          <div class='header_item'>
            <%= link_to "商品一覧", items_path %>
          </div>
          <div class='header_item'>
            <%= link_to "新規登録", new_customer_registration_path %>
          </div>
          <div class='header_item'>
            <%= link_to "ログイン", new_customer_session_path %>
          </div>
        <% end %>
      </div>
        <div class='header_search'>検索機能(余力があれば)</div>

    </header>
    <main class='main'>
      <%= yield %>
    </main>
    <footer class='footer'>
    </footer>
  </body>
</html>
